# Mongo Uri Connection String, following the format of "mongodb://username:password@hostname:port". Username/password can be ommited.
# Defaults to "mongodb://localhost:27017"
MONGO_URI=""

# Name of the mongo database to be created
# Defaults to "arma-api"
MONGO_DATABASE=""

# Full path to log file containing query reports and other fun stuff
# Defaults to "/tmp/arma-api.log"
LOGFILE_PATH=""

# ArrayList of mod authors that you wish to appear as modnames in the database
# Check src/main/java/com/api/main/Config.java:MODS for the default
SUPPORTED_MODS=[""]
